<% content_for :head do %>
  <%= javascript_include_tag "bundle/redactor-bundle.js" %>
  <%= render partial: 'scripts/redactor' %>

  <%= stylesheet_link_tag 'redactor' %>
<% end %>

<%= form_for @event do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'input-block' %>
  </p>

  <p>
    <%= form.label :start_time %><br>
    <%= form.datetime_field :start_time, class: 'input-block date-picker' %>
  </p>

  <p>
    <%= form.label :end_time %><br>
    <%= form.datetime_field :end_time, class: 'input-block date-picker' %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, id: 'redactor' %>
  </p>

  <p>
    <%= form.label :done %><br>
    <%= form.check_box :done %>
  </p>

  <%= react_component('UnionButton', props: { value: 'Update', type: 'submit'} )%>
  <%= react_component("LinkButton", props: {text: 'Cancel', link: events_path}, prerender: false) %>

<% end %>
