<% content_for :footer do%>
  <%= javascript_include_tag 'bundle/realTimeClock-bundle.js' %>
<% end %>

<h1><%= I18n.t('events.headingText') %></h1>

<div><%= I18n.t('events.dayOfYearText') %><strong><%= DateTime.now.yday %></strong></div>

<div id='real-time' style='float:right'></div>

<%= react_component "LinkButton", props: {text: I18n.t('events.addEventText'), link: new_event_url} %>

<%= render partial: 'events/calendars/monthly' %>
