<% content_for :head do %>
  <%= javascript_include_tag "bundle/redactor-bundle.js" %>
  <%= render partial: 'scripts/redactor' %>

  <%= stylesheet_link_tag 'redactor' %>
<% end %>

<%= form_with scope: :event, url: events_path, local: true do |form| %>
  <h1><%= I18n.t('events.newEventText') %></h1>

  <p>
    <%= form.label :name, I18n.t('input.nameLabel') %><br>
    <%= form.text_field :name, class: 'input-block' %>
  </p>

  <p>
    <%= form.label :start_time, I18n.t('input.startTimeLabel') %><br>
    <%= form.datetime_field :start_time, class: 'input-block date-picker' %>
  </p>

  <p>
    <%= form.label :end_time, I18n.t('input.endTimeLabel') %><br>
    <%= form.datetime_field :end_time, class: 'input-block date-picker' %>
  </p>

  <p>
    <%= form.label :description, I18n.t('input.descriptionLabel') %><br>
    <%= form.text_area :description, id: 'redactor' %>
  </p>

  <p>
    <%= form.label :done, I18n.t('input.doneLabel') %><br>
    <%= form.check_box :done %>
  </p>
  
  <%= render partial: 'messages/error' %>

  <%= react_component('UnionButton', props: { value: I18n.t('button.saveText'), type: 'submit'} )%>
  <%= react_component("LinkButton", props: {text: I18n.t('button.cancelLabel'), link: events_path}, prerender: false) %>

<% end %>
