<%= form_with scope: :event, url: events_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'input-block' %>
  </p>

  <p>
    <%= form.label :start_time %><br>
    <%= form.datetime_field :start_time, class: 'input-block date-picker' %>
  </p>

  <p>
    <%= form.label :end_time %><br>
    <%= form.datetime_field :end_time, class: 'input-block date-picker' %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, id: 'redactor', cols: '80', rows: "10" %>
  </p>

  <p>
    <%= form.label :done %><br>
    <%= form.check_box :done %>
  </p>
  
  <%= render partial: 'messages/error' %>

  <%= react_component('UnionButton', props: { value: 'Save', type: 'submit'} )%>
  <%= react_component("LinkButton", props: {text: 'Cancel', link: events_path}, prerender: false) %>

<% end %>
