<% content_for :head do %>
  <%= javascript_include_tag "bundle/redactor-bundle.js" %>
  <%= render partial: 'scripts/redactor' %>

  <%= stylesheet_link_tag 'redactor' %>
<% end %>

<%= react_component("LinkButton", props: {text: 'Back', link: 'javascript:history.back()'}, prerender: false) %>

<%= form_for @piece do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'input-block' %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, id: 'redactor' %>
  </p>

  <p>
    <%= form.label :public %><br>
    <%= form.check_box :published %>
  </p>

  <%= react_component('UnionButton', props: { value: 'Update', type: 'submit'} )%>
<% end %>
