<% content_for :head do %>
  <%= stylesheet_link_tag 'redactor' %>
  <%= render partial: 'scripts/redactor' %>
<% end %>

<%= react_component("LinkButton", props: {text: 'Back', link: pieces_path}, prerender: false) %>



<%= form_for @piece do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'input-block' %>
  </p>

  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, id: 'redactor' %>
  </p>

  <%= form.submit %>
<% end %>