<% content_for :head do %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
<% end %>

<%= react_component("LinkButton", props: {text: 'New One', link: new_piece_path}, prerender: false) %>
<% if @pieces.present? %>
    <ul>
        <h1 class='header'>All Pieces</h1>

        <% @pieces.each do |piece| %>
            <li class='piece-section'>
                <h3 class='headline'>
                    <a href=<%= piece_path(:id => piece.id) %> >
                        <%= piece.title %>
                    </a>
                </h3>
                <a class='edit-icon' href=<%= edit_piece_path(:id => piece.id) %>></a>
            </li>
        <% end %>
    </ul>
<% else %>
    <p class='no-result'>There's no results, you can create one <a href=<%= new_piece_path %>>here</a></p>
<% end %>