<% content_for :head do %>
  <%= render partial: 'scripts/tinymce' %>
  <%= javascript_pack_tag 'registration' %>
<% end %>

<%= react_component("LinkButton", props: {text: 'Back', link: pieces_path}, prerender: false) %>


<%= form_with scope: :piece, url: pieces_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: 'tinymce'%>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>