<% content_for :head do %>
  <%= javascript_include_tag "bundle/redactor-bundle.js" %>
  <%= render partial: 'scripts/redactor' %>

  <%= stylesheet_link_tag 'redactor' %>
<% end %>
<%= react_component("LinkButton", props: {text: 'All Pieces', link: pieces_path}, prerender: false) %>
<%= form_with scope: :piece, url: pieces_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, :required => true, class: 'input-block' %>
  </p>
  
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, id: 'redactor' %>
  </p>
  
  <%= form.submit 'Save', class: 'btn' %>
<% end %>
