<%= react_component("LinkButton", props: {text: 'Back', link: 'javascript:history.back()'}, prerender: false) %>

<div class='piece-container'>
  <h1><%= @piece.title %></h1>
  <%= text_to_html(@piece.body).html_safe %>
</div>

<% if @piece.user == @user %>
  <%= react_component('LinkButton', props: {text: 'Edit', link: edit_piece_path(:id => @piece.id)}) %>
  <%= react_component('LinkButton', props: {text: 'Delete', link: delete_piece_path(:id => @piece.id)}) %>
<% end %>
