<h1>Create a new account</h1>

<%= form_with scope: :user, url: create_user_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name, class: 'input-block' %>
  </p>
  
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, class: 'input-block' %>
  </p>

  <%= render partial: 'messages/error' %>

  <%= react_component('UnionButton', props: { value: 'Create Account', type: 'submit'} )%>
<% end %>
