<div class="desktop event-infos">
  <div class='row-1'>
    <% startTime = today == event.start_time.day ? event.start_hour : '00:00' %>
    <% endTime = today == event.end_time.day ? event.end_hour : '00:00' %>
    <span><%= startTime %>~<%= endTime %></span>
    <div class='action-icons'>
      <span class="<%= event.done ? 'green-check-icon' : 'gray-check-icon' %>"></span>
      <a class="delete-icon" data-method='delete' href="<%= event_url(:id => event._id) %>"></a>
      <a class="edit-icon" href="<%= edit_event_url(event._id) %>"></a>
    </div>
  </div>
  <a href="<%= event_url(event._id) %>" data-toogle="tooltip" title="<%= event.description %>"><%= event.name %></a>
</div>

<div class="mobile event-infos">
  <a href="<%= event_url(event._id) %>"><%=  event.name.length > 3 ? "#{event.name[0, 3]}..." : event.name %></a>
  <span class="<%= event.done ? 'green-check-icon' : 'gray-check-icon' %>"></span>
</div>
