<!DOCTYPE html>
<html>
  <head>
    <title>xxxblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= javascript_include_tag 'application.js' %>
    <%= javascript_include_tag 'bundle/componentsRegistration-bundle.js' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= render partial: 'scripts/font_awesome'%>

    <script id="metadata">
      window.Metadata = {
        sessions: {
          current_user_name: "<%= session['user_name'] %>"
        }
      };
    </script>

    <%= yield :head %>
  </head>

  <body>
    <% cache('header_nav', expires_in: 1.day) do %>
      <%= react_component('Header',
        props: {
          pieces_path: pieces_path,
          events_path: events_path,
          login_path: user_login_path,
          chats_path: chats_path,
          register_path: new_user_path,
          landing_page_path: landing_page_path
        }, prerender: false)
      %>
    <% end %>

    <span class='login-status'>
      <% if session[:login_user] == true %>
        You are sign in as <span class="user-name"><%= session[:user_name] %></span>. <a href=<%= user_logout_path %>>Log out</a>
      <% elsif !is_login_page? %>
        <a href=<%= user_login_path %>>Sign In</a>
      <% end %>
    </span>

    <div class='main-container'>
      <%= yield %>
    </div>
    <%= yield :footer %>
  </body>
</html>
