<!DOCTYPE html>
<html>
  <head>
    <title>xxxblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= javascript_include_tag 'bundle/jquerySource-bundle.js' %>
    <%= javascript_include_tag 'bundle/componentsRegistration-bundle.js' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= render partial: 'scripts/font_awesome'%>

    <%= yield :head %>
  </head>

  <body>
    <%= react_component('Header',
      props: {
        pieces_path: pieces_path,
        events_path: events_path,
        login_path: user_login_path,
        register_path: new_user_path,
      }, prerender: false)
    %>

    <span class='login-status'>
      <% if session[:login_user] == true %>
        <%= I18n.t('layouts.signInStatusText')%> <span class="user-name"><%= session[:user_name] %></span>. <a href=<%= user_logout_path %>><%= I18n.t('layouts.logOutText')%></a>
      <% elsif !is_login_page? %>
        <a href=<%= user_login_path %>><%= I18n.t('layouts.logInText')%></a>
      <% end %>
    </span>

    <div class='main-container'>
      <%= yield %>
    </div>
    <%= yield :footer %>
  </body>
</html>
